<div class="aerosol-products">
   <div class="container">
      <div class="aerosol-products__body">
         <div class="aerosol-products__block-content">
            <h2 class="title aerosol-products__title">
               Производим аэрозольную продукцию для разных сфер
            </h2>
            <ul class="aerosol-products-list">
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-him"></use>
                  </svg>
                  <span>Химические производства</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-car-cosm"></use>
                  </svg>
                  <span>Автомобильная косметика</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-car-washes"></use>
                  </svg>
                  <span>Автомойки</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-shirt"></use>
                  </svg>
                  <span>Косметика по уходу за одеждой</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-eat"></use>
                  </svg>
                  <span>Пищевая продукция</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-boots"></use>
                  </svg>
                  <span>Косметика по уходу за обувью</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-brush"></use>
                  </svg>
                  <span>Лаки и краски</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-bricks"></use>
                  </svg>
                  <span>Строительные материалы</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-cosmetic"></use>
                  </svg>
                  <span>Косметические средства</span>
               </li>
               <li class="aerosol-products-list__item">
                  <svg class="aerosol-products-list__icon">
                     <use xlink:href="img/icons/icons.svg#icon-more"></use>
                  </svg>
                  <span>И многих других</span>
               </li>
            </ul>
         </div>
         <div class="aerosol-products__block-content logos">
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
            <a href="https://burgerkingrus.ru/" target="_blank" class="aerosol-products__item-logo">
               <img src="@img/logos/burger-king.png" alt="Burger King" class="aerosol-products__logo">
            </a>
         </div>
      </div>
   </div>
</div>