<section class="blog-expert">
   <div class="container">
      <h2 class="title blog-expert__title">
         @@title
      </h2>
      <div class="swiper blog-expert__slider">
         <div class="swiper-wrapper">
            <a href="blog-more.html" class="swiper-slide card-blog blog-expert__card-blog" style="background: url(./img/picture/bg-methodology.jpg) 0 0 / cover no-repeat;">
               <div class="card-blog__body">
                  <h4 class="card-blog__title">
                     Современная методология разработки одухотворила всех причастных
                  </h4>
                  <p data-length="123" class="more-text card-blog__content">
                     Действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, impedit.
                  </p>
               </div>
            </a>
            <a href="blog-more.html" class="swiper-slide card-blog blog-expert__card-blog" style="background: url(./img/picture/bg-live.jpg) 0 0 / cover no-repeat;">
               <div class="card-blog__body">
                  <h4 class="card-blog__title">
                     Сложно сказать, почему жизнь прекрасна
                  </h4>
                  <p data-length="135" class="more-text card-blog__content">
                     Сложно сказать, почему элементы политического процесса функционально разнесены на независимые элементы. Безусловно, высокотехнологичная. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium assumenda saepe ducimus, pariatur impedit repudiandae nemo aperiam, culpa, reiciendis placeat voluptatum! Cupiditate cum, quis laboriosam eius ab labore ex!
                  </p>
               </div>
            </a>
            <a href="blog-more.html" class="swiper-slide card-blog blog-expert__card-blog" style="background: url(./img/picture/bg-methodology.jpg) 0 0 / cover no-repeat;">
               <div class="card-blog__body">
                  <h4 class="card-blog__title">
                     Современная методология разработки одухотворила всех причастных
                  </h4>
                  <p data-length="123" class="more-text card-blog__content">
                     Действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, impedit.
                  </p>
               </div>
            </a>
            <a href="blog-more.html" class="swiper-slide card-blog blog-expert__card-blog" style="background: url(./img/picture/bg-live.jpg) 0 0 / cover no-repeat;">
               <div class="card-blog__body">
                  <h4 class="card-blog__title">
                     Сложно сказать, почему жизнь прекрасна
                  </h4>
                  <p data-length="135" class="more-text card-blog__content">
                     Сложно сказать, почему элементы политического процесса функционально разнесены на независимые элементы. Безусловно, высокотехнологичная. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium assumenda saepe ducimus, pariatur impedit repudiandae nemo aperiam, culpa, reiciendis placeat voluptatum! Cupiditate cum, quis laboriosam eius ab labore ex!
                  </p>
               </div>
            </a>
            <a href="blog-more.html" class="swiper-slide card-blog blog-expert__card-blog" style="background: url(./img/picture/bg-methodology.jpg) 0 0 / cover no-repeat;">
               <div class="card-blog__body">
                  <h4 class="card-blog__title">
                     Современная методология разработки одухотворила всех причастных
                  </h4>
                  <p data-length="123" class="more-text card-blog__content">
                     Действия представителей оппозиции, превозмогая сложившуюся непростую экономическую ситуацию, в равной степени предоставлены. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, impedit.
                  </p>
               </div>
            </a>
            <a href="blog-more.html" class="swiper-slide card-blog blog-expert__card-blog" style="background: url(./img/picture/bg-live.jpg) 0 0 / cover no-repeat;">
               <div class="card-blog__body">
                  <h4 class="card-blog__title">
                     Сложно сказать, почему жизнь прекрасна
                  </h4>
                  <p data-length="135" class="more-text card-blog__content">
                     Сложно сказать, почему элементы политического процесса функционально разнесены на независимые элементы. Безусловно, высокотехнологичная. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laudantium assumenda saepe ducimus, pariatur impedit repudiandae nemo aperiam, culpa, reiciendis placeat voluptatum! Cupiditate cum, quis laboriosam eius ab labore ex!
                  </p>
               </div>
            </a>
         </div>
      </div>
      <div class="blog-expert__nav">
         <a href="blog.html" class="link">
            Весь блог
         </a>
         <div class="blog-expert__arrows">
            <button class="arrow-slider blog-expert__arrow--prev">
               <svg class="arrow-slider__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
               </svg>
            </button>
            <button class="arrow-slider blog-expert__arrow--next">
               <svg class="arrow-slider__icon">
                  <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
               </svg>
            </button>
         </div>
      </div>
   </div>
</section>