<section class="blog-more-content">
   <div class="container">
      <div class="blog-more-content__body">
         <div class="blog-more-content__left">
            <p class="share__content">
               Поделиться:
            </p>
            <ul class="share">
               <li onClick='window.open("https://vk.com/share.php?url=АДРЕС_СТРАНИЦЫ","sharer","status=0,toolbar=0,width=650,height=500");' class="share__item">
                  <svg class="share__icon">
                     <use xlink:href='img/icons/icons.svg#icon-vk'></use>
                  </svg>
               </li>
               <li onClick='window.open("https://www.facebook.com/sharer.php?u=АДРЕС_СТРАНИЦЫ","sharer","status=0,toolbar=0,width=650,height=500");' class="share__item">
                  <svg class="share__icon">
                     <use xlink:href='img/icons/icons.svg#icon-facebook'></use>
                  </svg>
               </li>
               <li onClick='window.open("https://twitter.com/intent/tweet?text=ТАЙТЛ_СТРАНИЦЫ. ОПИСАНИЕ. СССЫЛКА","sharer","status=0,toolbar=0,width=650,height=500");' class="share__item">
                  <svg class="share__icon">
                     <use xlink:href='img/icons/icons.svg#icon-twitter'></use>
                  </svg>
               </li>
               <li onClick='window.open("https://vk.com/share.php?url=АДРЕС_СТРАНИЦЫ","sharer","status=0,toolbar=0,width=650,height=500");' class="share__item">
                  <svg class="share__icon">
                     <use xlink:href='img/icons/icons.svg#icon-google-plus'></use>
                  </svg>
               </li>
            </ul>
         </div>
         <div class="blog-more-content__right">
            <div class="blog-more-content__block-content">
               <h3 class="blog-more-content__title-content">
                  Реализация намеченных плановых заданий
               </h3>
               <p class="blog-more-content__content">
                  Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же укрепление и развитие структуры в значительной степени обуславливает создание форм развития. С другой стороны укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры требуют определения и уточнения систем массового участия. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач.
               </p>
            </div>
            <div class="blog-more-content__block-content">
               <h4 class="blog-more-content__title-content">
                  Равным образом консультация с широким активом
               </h4>
               <p class="blog-more-content__content">
                  Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение дальнейших направлений развития. Разнообразный и богатый опыт реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. С другой стороны консультация с широким активом позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации. Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.
               </p>
               <p class="blog-more-content__content">
                  С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия. Равным образом консультация с широким активом в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
               </p>
               <p class="blog-more-content__content">
                  Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания по разработке форм развития. Задача организации, в особенности же постоянный <a href="#" class="blog-more-content__link-content">количественный рост</a> и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
               </p>
               <img src="@img/picture/bg-methodology.jpg" alt="Методология" class="blog-more-content__img">
            </div>
            <div class="blog-more-content__block-content">
               <h5 class="blog-more-content__title-content">
                  Равным образом консультация с широким активом:
               </h5>
               <ul class="blog-more-content__list">
                  <li class="blog-more-content__item">Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций.</li>
                  <li class="blog-more-content__item">С другой стороны консультация с широким активом позволяет оценить значение форм развития.</li>
                  <li class="blog-more-content__item">Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания.</li>
               </ul>
            </div>
            <div class="blog-more-content__block-content">
               <h4 class="blog-more-content__title-content">
                  Равным образом консультация с широким активом:
               </h4>
               <p class="blog-more-content__content">
                  С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации систем массового участия. <span>Равным образом консультация</span> с широким активом в значительной степени обуславливает создание дальнейших направлений развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
               </p>
               <ul class="blog-more-content__list">
                  <li class="blog-more-content__item blog-more-content__item--number"> <span class="number">01.</span> Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения позиций.</li>
                  <li class="blog-more-content__item blog-more-content__item--number"> <span class="number">02.</span> С другой стороны консультация с широким активом позволяет оценить значение форм развития.</li>
                  <li class="blog-more-content__item blog-more-content__item--number"> <span class="number">03.</span> Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет выполнять важные задания.</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>