<section class="contacts">
   <div class="container">
      <div class="contacts__header">
         <a href="tel:+74996861014" class="contacts__tel">+7 (499) 686-10-14</a>
         <ul class="contacts__contacts-list">
            <li class="contacts__contacts-item">
               <svg class="contacts__contacts-icon">
                  <use xlink:href='img/icons/icons.svg#icon-map'></use>
               </svg>
               <span>г. Мосвка, Холодильный пер. 4к1с8</span>
            </li>
            <li class="contacts__contacts-item">
               <svg class="contacts__contacts-icon">
                  <use xlink:href='img/icons/icons.svg#icon-mail'></use>
               </svg>
               <a href="mailto:a.dragunov@tdaliance.ru">a.dragunov@tdaliance.ru</a>
            </li>
         </ul>
         <ul class="contacts__soc-list">
            <li class="contacts__soc-item">
               <a href="#" target="_blank" class="contacts__soc-element">
                  <svg class="contacts__soc-icon">
                     <use xlink:href='img/icons/icons.svg#icon-vk'></use>
                  </svg>
               </a>
            </li>
            <li class="contacts__soc-item">
               <a href="#" target="_blank" class="contacts__soc-element">
                  <svg class="contacts__soc-icon">
                     <use xlink:href='img/icons/icons.svg#icon-inst'></use>
                  </svg>
               </a>
            </li>
         </ul>
      </div>
      <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script>
      <div class="contacts__map" id="contacts-map"></div>
   </div>
</section>