<section class="contract-production">
   <div class="container">
      <h2 class="title contract-production__title">
         Контрактное производство
      </h2>
      <div class="contract-production__body">
         <a href="avtohim-product.html" class="contract-production__item" style="background: url(./img/picture/avto-him.png) bottom right / 100% 100% no-repeat;">
            <h4 class="contract-production__item-title">
               Автомобильная химия
            </h4>
            <p class="contract-production__item-content">
               Безусловно, сплочённость команды профессионалов позволяет оценить значение форм воздействия.
            </p>
         </a>
         <a href="avtohim-product.html" class="contract-production__item" style="background: url(./img/picture/bit-him.png) bottom right / 100% 100% no-repeat;">
            <h4 class="contract-production__item-title">
               Бытовая химия
            </h4>
            <p class="contract-production__item-content">
               А также стремящиеся вытеснить традиционное производство, нанотехнологии функционально разнесены на независимые элементы.
            </p>
         </a>
         <a href="avtohim-product.html" class="contract-production__item" style="background: url(./img/picture/dezinfect.png) bottom right / 100% 100% no-repeat;">
            <h4 class="contract-production__item-title">
               Дезинфицирующие средства
            </h4>
            <p class="contract-production__item-content">
               Лишь интерактивные прототипы призваны к ответу.
            </p>
         </a>
         <a href="avtohim-product.html" class="contract-production__item" style="background: url(./img/picture/dezinfect.png) bottom right / 100% 100% no-repeat;">
            <h4 class="contract-production__item-title">
               Пищевые аэрозоли
            </h4>
            <p class="contract-production__item-content">
               Безусловно, сплочённость команды профессионалов позволяет оценить значение форм воздействия.
            </p>
         </a>
         <a href="avtohim-product.html" class="contract-production__item" style="background: url(./img/picture/avto-him.png) bottom right / 100% 100% no-repeat;">
            <h4 class="contract-production__item-title">
               Косметическая продукция
            </h4>
            <p class="contract-production__item-content">
               Лишь интерактивные прототипы призваны к ответу.
            </p>
         </a>
         <a href="avtohim-product.html" class="contract-production__item" style="background: url(./img/picture/bit-him.png) bottom right / 100% 100% no-repeat;">
            <h4 class="contract-production__item-title">
               Краски аэрозольные
            </h4>
            <p class="contract-production__item-content">
               А также стремящиеся вытеснить традиционное производство, нанотехнологии функционально разнесены на независимые элементы.
            </p>
         </a>
      </div>
   </div>
</section>