<section class="cooperation">
   <div class="container">
      <div class="cooperation__body">
         <h2 class="cooperation__title">
            Хотите сотрудничать?
         </h2>
         <p class="cooperation__content">
            Оставьте заявку, наш менеджер свяжется с Вами в ближайшее время ответит на все интересующие вопросы и поможем даже в самых сложных случаях!
         </p>
         <form action="#" class="form cooperation__form">
            <div class="cooperation__form-block">
               <input type="text" name="name" placeholder="Имя" class="form__input cooperation__form-input" id="cooperation-name">
               <label for="cooperation-name" class="form__label">
                  Ваше имя
               </label>
            </div>
            <div class="cooperation__form-block">
               <input data-phone-pattern="+7 (___) ___-__-__" type="tel" name="telephone-number" placeholder="+7 (999) 999-99-99" class="form__input cooperation__form-input" id="cooperation-telephone">
               <label for="cooperation-telephone" class="form__label">
                  Номер телефона
               </label>
            </div>
            <div class="cooperation__form-nav">
               <button type="submit" class="btn stroke cooperation__form-btn">
                  Отправить заявку
               </button>
               <div class="form__remark">
                  <svg class="form__icon-remark">
                     <use xlink:href="img/icons/icons.svg#icon-shield"></use>
                  </svg>
                  <p class="form__content">
                     Обращаясь к нам вы получаете не только профессиональную работу, но и абсолютную конфиденциальность информации!
                  </p>
               </div>
            </div>
         </form>
      </div>
   </div>
</section>