<section class="gen-distributor">
   <div class="container">
      <div class="gen-distributor__body">
         <h2 class="title gen-distributor__title">
            Генеральный дистрибьютор премиальной автохимии
         </h2>
         <p class="gen-distributor__content">
            Внезапно, активно развивающиеся страны третьего мира могут быть объявлены нарушающими общечеловеческие нормы этики и морали.
         </p>
         <ul class="aerosol-products-list">
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-him"></use>
               </svg>
               <span>Полное описание товаров</span>
            </li>
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-brush"></use>
               </svg>
               <span>Лаки и краски</span>
            </li>
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-car-washes"></use>
               </svg>
               <span>Актуальные цены</span>
            </li>
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-him"></use>
               </svg>
               <span>Химические производства</span>
            </li>
         </ul>
         <a href="@img/picture/dezinfect.png" class="btn stroke gen-distributor__btn" download>
            <svg class="gen-distributor__icon-download">
               <use xlink:href="img/icons/icons.svg#icon-download"></use>
            </svg>
            <span>Скачать каталог</span>
         </a>
      </div>
   </div>
</section>