<section class="hero" style="background: url(./img/picture/hero-bg.jpg) 0 0 / cover no-repeat;">
   <div class="container">
      <div class="hero__body">
         <h1 class="title hero__title">
            Комплексное обеспечение товарами и расходными материалами бизнеса
         </h1>
         <p class="hero__content">
            Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от анализа существующих паттернов поведения.
         </p>
         <a href="about.html" class="btn hero__btn-more">Подробнее о компании</a>
      </div>
      <div class="swiper facts-slider hero__slider">
         <div class="swiper-wrapper">
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-time"></use>
               </svg>
               <span class="facts-slider__slide-content">Непрерывная работа с 2017 года</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-certificate"></use>
               </svg>
               <span class="facts-slider__slide-content">Вся продукция сертифицирована</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-worker"></use>
               </svg>
               <span class="facts-slider__slide-content">Контроль качества <br> на всех этапах</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-truck"></use>
               </svg>
               <span class="facts-slider__slide-content">Возможны поставки по всей России</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-speedometer"></use>
               </svg>
               <span class="facts-slider__slide-content">Оперативное производство</span>
            </div>
         </div>
      </div>
      <div class="facts-slider__arrows hero__slider-arrows">
         <button class="facts-slider__slider-arrow facts-slider__slider-arrow--prev">
            <svg class="facts-slider__icon-arrow">
               <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
         </button>
         <button class="facts-slider__slider-arrow facts-slider__slider-arrow--next">
            <svg class="facts-slider__icon-arrow">
               <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
         </button>
      </div>
   </div>
</section>