<section class="hero-page">
   <div class="container">
      <div class="hero-page__body">
         <h1 class="title hero-page__title">
            Автомобильная химия
         </h1>
         <ul class="road">
            <li class="road__item">
               <a href="index.html" class="road__element">Главная</a>
            </li>
            <li class="road__item-line">
               —
            </li> 
            <li class="road__item">
               <a href="contract-production.html" class="road__element">Контрактное производство</a>
            </li>
            <li class="road__item-line">
               —
            </li> 
            <li class="road__item">
               <a class="road__element active">Автомобильная химия</a>
            </li>
         </ul>
         <img src="@img/picture/sprays.png" alt="Спреи" class="hero-page__img">
      </div>
   </div>
</section>