<section class="hero-page  blog-more" style="background: url(./img/picture/bg-live.jpg) center / cover no-repeat;">
   <div class="container">
      <div class="hero-page__body">
         <h1 class="title hero-page__title">
            Современная методология разработки одухотворила всех причастных
         </h1>
         <ul class="road">
            <li class="road__item">
               <a href="index.html" class="road__element">Главная</a>
            </li>
            <li class="road__item-line">
               —
            </li> 
            <li class="road__item">
               <a href="blog.html" class="road__element active">Блог</a>
            </li>
            <li class="road__item-line">
               —
            </li> 
            <li class="road__item">
               <a class="road__element active">Современная методология разработки одухотворила всех причастных</a>
            </li>
         </ul>
      </div>
   </div>
</section>