<section class="hero-page">
   <div class="container">
      <div class="hero-page__body">
         <h1 class="title hero-page__title">
            О компании
         </h1>
         <ul class="road">
            <li class="road__item">
               <a href="index.html" class="road__element">Главная</a>
            </li>
            <li class="road__item-line">
               —
            </li> 
            <li class="road__item">
               <a class="road__element active">О компании</a>
            </li>
         </ul>
      </div>
   </div>
</section>