<div class="main-popup popup">
   <div data-overlay-popup class="popup__overlay">
      <div class="main-popup__window popup__window">
         <img src="@img/picture/spider.png" alt="Паучок" class="main-popup__img">
         <p class="main-popup__content">
            Привет! Макет данного сайта был найден на просторах интернета, сам сайт был создан в целях саморазвития. 
         </p>
         <button class="btn stroke main-popup__btn">
            Продолжить
         </button>
      </div>
   </div>
</div>