<section class="manufacture-avtohim">
   <div class="container manufacture-avtohim__container">
      <div class="manufacture-avtohim__body">
         <h2 class="title manufacture-avtohim__title">
            Изготовление химии
         </h2>
         <p class="manufacture-avtohim__content">
            Но современная методология разработки позволяет оценить значение прогресса профессионального сообщества. Есть над чем задуматься: тщательные исследования конкурентов набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для поставленных обществом задач.
         </p>
         <ul data-da=".manufacture-avtohim__container, 1200, 1" class="manufacture-avtohim__list aerosol-products-list">
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-him"></use>
               </svg>
               <span>Полное описание товаров</span>
            </li>     
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-brush"></use>
               </svg>
               <span>Лаки и краски</span>
            </li> 
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-car-washes"></use>
               </svg>
               <span>Актуальные цены</span>
            </li> 
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-him"></use>
               </svg>
               <span>Химические производства</span>
            </li> 
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-him"></use>
               </svg>
               <span>Полное описание товаров</span>
            </li> 
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-brush"></use>
               </svg>
               <span>Лаки и краски</span>
            </li>  
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-car-washes"></use>
               </svg>
               <span>Актуальные цены</span>
            </li> 
            <li class="aerosol-products-list__item">
               <svg class="aerosol-products-list__icon">
                  <use xlink:href="img/icons/icons.svg#icon-him"></use>
               </svg>
               <span>Химические производства</span>
            </li> 
         </ul>
      </div>
   </div>
</section>