<section class="own-trademarks">
   <div class="container">
      <h2 class="title own-trademarks__title">
         Собственные торговые марки
      </h2>
      <div class="own-trademarks__body">
         <a href="ag-tech.html" class="own-trademarks__item item-1">
            <svg class="own-trademarks__icon">
               <use xlink:href="img/icons/icons.svg#icon-agtech"></use>
            </svg>
            <div class="own-trademarks__item-right">
               <h4 class="own-trademarks__item-title">
                  Автохимия AG-Tech
               </h4>
               <p data-da=".own-trademarks__item.item-1, 768, 2" class="own-trademarks__content">
                  Для современного мира разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для поставленных обществом задач.
               </p>
            </div>
         </a>
         <a href="error.html" class="own-trademarks__item item-2">
            <svg class="own-trademarks__icon">
               <use xlink:href="img/icons/icons.svg#icon-ap"></use>
            </svg>
            <div class="own-trademarks__item-right">
               <h4 class="own-trademarks__item-title">
                  Автохимия AP
               </h4>
               <p data-da=".own-trademarks__item.item-2, 768, 2" class="own-trademarks__content">
                  Для современного мира разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для поставленных обществом задач.
               </p>
            </div>
         </a>
      </div>
   </div>
</section>