<section class="production-chemical">
   <div class="container">
      <div class="production-chemical__body">
         <img src="@img/picture/production-chimical.png" alt="Производство химии логотип" class="production-chemical__img">
         <div class="production-chemical__block-content">
            <h2 class="title production-chemical__title">
               Мы - эксперты в области производства химии
            </h2>
            <p class="production-chemical__content">
               Разнообразный и богатый опыт говорит нам, что перспективное планирование однозначно фиксирует необходимость поставленных обществом задач! Есть над чем задуматься: ключевые особенности структуры проекта могут быть объединены в целые кластеры себе подобных. Интерактивные прототипы, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно. Значимость этих проблем настолько очевидна, что перспективное планирование играет важную роль в формировании системы массового участия.
            </p>
         </div>
      </div>
      <div class="swiper facts-slider production-chemical__slider">
         <div class="swiper-wrapper">
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-time"></use>
               </svg>
               <span class="facts-slider__slide-content black">Непрерывная работа с 2017 года</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-certificate"></use>
               </svg>
               <span class="facts-slider__slide-content black">Вся продукция сертифицирована</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-worker"></use>
               </svg>
               <span class="facts-slider__slide-content black">Контроль качества <br> на всех этапах</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-truck"></use>
               </svg>
               <span class="facts-slider__slide-content black">Возможны поставки по всей России</span>
            </div>
            <div class="swiper-slide facts-slider__slide">
               <svg class="facts-slider__slide-icon">
                  <use xlink:href="img/icons/icons.svg#icon-speedometer"></use>
               </svg>
               <span class="facts-slider__slide-content black">Оперативное производство</span>
            </div>
         </div>
      </div>
      <div class="facts-slider__arrows production-chemical__slider-arrows">
         <button class="facts-slider__slider-arrow facts-slider__slider-arrow--prev">
            <svg class="facts-slider__icon-arrow black">
               <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
         </button>
         <button class="facts-slider__slider-arrow facts-slider__slider-arrow--next">
            <svg class="facts-slider__icon-arrow black">
               <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
         </button>
      </div>
   </div>
</section>