<section class="sheme-work">
   <div class="container">
      <h2 class="title sheme-work__title">
         Схема работы
      </h2>
      <div class="swiper sheme-work__slider">
         <div class="swiper-wrapper sheme-work__body">
            <div class="swiper-slide sheme-work__item">
               <span class="sheme-work__number">01</span>
               <h4 class="sheme-work__item-title">Знакомство</h4>
               <p class="sheme-work__content">
                  Безусловно, сплочённость команды профессионалов позволяет оценить значение форм воздействия.
               </p>
               <button data-btn-popup="consultation" class="btn-popup link sheme-work__btn">Оставить заявку</button>
            </div>
            <div class="swiper-slide sheme-work__item">
               <span class="sheme-work__number">02</span>
               <h4 class="sheme-work__item-title">Заключение договора</h4>
               <p class="sheme-work__content">
                  Лишь интерактивные прототипы призваны к ответу.
               </p>
            </div>
            <div class="swiper-slide sheme-work__item">
               <span class="sheme-work__number">03</span>
               <h4 class="sheme-work__item-title">Производство</h4>
               <p class="sheme-work__content">
                  А также стремящиеся вытеснить традиционное производство, нанотехнологии функционально разнесены на независимые элементы.
               </p>
            </div>
            <div class="swiper-slide sheme-work__item">
               <span class="sheme-work__number">04</span>
               <h4 class="sheme-work__item-title">Доставка</h4>
               <p class="sheme-work__content">
                  В частности, экономическая повестка сегодняшнего дня говорит о возможностях приоритизации разума над эмоциями.
               </p>
            </div>
         </div>
      </div>
      <div class="sheme-work__arrows-slider">
         <button class="arrow-slider sheme-work__arrow sheme-work__arrow--prev">
            <svg class="arrow-slider__icon">
               <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
         </button>
         <button class="arrow-slider sheme-work__arrow sheme-work__arrow--next">
            <svg class="arrow-slider__icon">
               <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
            </svg>
         </button>
      </div>
   </div>
</section>