<section class="views-avtohim">
   <div class="container">
      <h2 class="title views-avtohim__title">
         Виды автохимии
      </h2>
      <p class="views-avtohim__content">
         Но современная методология разработки позволяет оценить значение прогресса профессионального сообщества. Есть над чем задуматься: тщательные исследования конкурентов набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям.
      </p>
      <ul class="views-avtohim__list">
         <li class="views-avtohim__item">Антискотч</li>
         <li class="views-avtohim__item">Силиконовая смазка</li>
         <li class="views-avtohim__item">Очиститель тормозных дисков</li>
         <li class="views-avtohim__item">Тефлоновая смазка</li>

         <li class="views-avtohim__item">Многоцелевая смазка</li>
         <li class="views-avtohim__item">Цепная смазка</li>
         <li class="views-avtohim__item">Очиститель битумных пятен</li>
         <li class="views-avtohim__item">Очиститель двигателя</li>

         <li class="views-avtohim__item">Жидкий ключ</li>
         <li class="views-avtohim__item">Медная смазка</li>
         <li class="views-avtohim__item">Очиститель кондиционера</li>
         <li class="views-avtohim__item">Универсальный очиститель</li>
         
         <li class="views-avtohim__item">Высокая температурная смазка</li>
         <li class="views-avtohim__item">Графитовая смазка</li>
         <li class="views-avtohim__item">Очиститель дросельной заслонки</li>
         <li class="views-avtohim__item">Чернитель шин</li>

         <li class="views-avtohim__item">Очиститель кондиционера пенный</li>
         <li class="views-avtohim__item">Очиститель обивки</li>
         <li class="views-avtohim__item">Чернитель шин + очистка</li>
      </ul>
   </div>
</section>